.venv/
__pycache__/
dist/
build/
*.exe
# Ignore heavy Oracle drivers
instantclient_23_26/

# Ignore virtual environment and caches
.venv/
__pycache__/

# Ignore executable build folders
dist/
build/
*.exe
.ENV
.env
# IDE and editor configurations
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Python specific
*.py[cod]
*$py.class
*.so
.pytest_cache/
htmlcov/
.coverage

# Application sensitive files
Output/
Ars/
MEta-INF/